name: build
on: [push, pull_request]

jobs:
  job:
    name: ${{ matrix.os }}-${{ github.workflow }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
        - os: windows-latest
          triplet: x64-windows
        - os: ubuntu-latest
          triplet: x64-linux
        - os: macos-latest
          triplet: x64-osx

    steps:
    - uses: actions/checkout@v2

    # Setup the build machine with the most recent versions of CMake and Ninja. Both are cached if not already: on subsequent runs both will be quickly restored from GitHub cache service.
    - uses: lukka/get-cmake@latest

    - name: Generate build system
      run: |
        cmake -S . -B build
    # Build PureNES
    - name: Build
      run: |
        cmake --build build
    # Run tests
    - name: Test
      run: |
        cd build && ctest
